html {
  height: 100%;
}
body {
  min-height: 100%;
  max-height: 100%;
  
  background: #efefef;
}

.main.container {
  margin: 7rem 0 0 0;
  
  h2 {
    text-align: center;
  }
}

.search-input {
  .input {
    position: relative;
    
    input {
      position: relative;
      z-index: 2;
      background: transparent!important;
    }
    
    input.pseudo {
      width: 100%!important;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      background: transparent!important;
      
      color: #c0c0c0;
    }
    
    &:after {
      content: attr(data-label);
      position: absolute;
      right: 10px;
      top: 0;
      height: 42px;
      line-height: 42px;
      
      font-weight: bold;
      color: #b0b0b0;
    }
  }
}

.autocomplete {
  position: absolute;
  left: 0;
  top: 42px;
  margin: 0 !important;
  width: 100% !important;
}

.result-table {
  margin: 2rem 0 0 0;
  
  th, td {
    vertical-align: top;
    font-size: 13px;
  }
  
  .label {
    font-weight: bold;
  }
}